.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width:100px;
}
.nav-items>ul{
    display: flex;
    list-style: none;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding: 5px;
    margin: 5px;
    width:158px;
    /* height: 350px; */
    background-color:aliceblue;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.filter{
    padding: 10px;
    display: flex;
}
.filter-btn{
    margin: 0 10px;
    cursor: pointer;
}
.res-logo{
    width: 148px;
    height: 120px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color:aliceblue;
    border-width: 1px;
}
.btn{
    padding: 0 5px;
    margin: 5px;
}